.center {
  display: grid;
  justify-content: center;
  align-content: center;
}

.borderLogin {
  box-shadow: rgba(0, 0, 0, 0.16) 0px 3px 6px, rgba(0, 0, 0, 0.23) 0px 3px 6px;
  margin: 5em;
  border-radius: 15px;
}

.login {
  display: grid;
  justify-content: center;
  align-content: center;
  height: 25em;
  width: 30em;
}


.signup{

  display: grid;
  justify-content: center;
  align-content: center;
  height: 31em;
  width: 30em;

}
.margin {
  margin-bottom: 1em;
  width: 12em;
}

.welcome {
  font-size: xx-large;
  margin-top: 1em;
  min-width: 21.5em;
}

.imgLogo {
  width: 8em;
  position: absolute;
  top: 1em;
  left: 1em;
}

.nav {
  height: 3em;
  min-width: 42em;
  display: grid;
  justify-content: center;
  background-color: #000000b1;
  margin-top: 3em;
}

.btnNav {
  margin-left: 1em;
  margin-right: 1em;
  text-decoration: none;
  color: rgb(255, 255, 255);
  width: 7em;
  display: grid;
  justify-content: center;
  align-content: center;
}

.btnNav:hover {
  color: rgb(255, 255, 255);
  background-color: #000000;
}

.profile {
  display: grid;
  justify-content: center;
  box-shadow: rgba(0, 0, 0, 0.16) 0px 3px 6px, rgba(0, 0, 0, 0.23) 0px 3px 6px;
  border-radius: 10px;
  margin: 3em;
  width: 20em;
  height: 23em;
}

.profileInfo {
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 20px;
}

.profileTitle {
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 30px;
}

.fit {
  min-width: 42em;
}

.btnProfile {
  display: flex;
  justify-content: center;
}
.spaceBTN {
  margin-left: 0.5em;
  margin-right: 0.5em;
}

.editeSIZE {
  margin: 4em;
}

.edite {
  box-shadow: rgba(0, 0, 0, 0.16) 0px 3px 6px, rgba(0, 0, 0, 0.23) 0px 3px 6px;
  border-radius: 10px;
  width: 25em;
  height: 22em;
}

.btnProfile {
  margin: 1.5em;
}

.btnNew{
  margin-top: 1em;
}

.textDecoration{
  text-decoration: none;
}